body {
   background-color: #f9f9f9;
   color: #222;
   font-family: Helvetica, sans-serif;
   margin: 20px;
   max-width: 1000px;
}

h1, h2 {
   border-bottom: 2px solid currentColor;
}

h1 { color: hsl(208, 53%, 23%) }
h2 { color: hsl(15, 86%, 36%) }

a:link    { color: #14f; }
a:visited { color: #32f; }
a:hover   { color: #36c; }
a:active  { color: #3c3; }

pre {
   border: 1px solid #888;
   padding: 5px;
}

.menu, .menu li {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.menu li {
   display: inline;
}

.menu li a {
   display: inline-block;
   padding: 3px;
   width: 140px;
   background-color: #666;
   text-align: center;
}

.menu a:hover {
   background-color: #333;
}

.menu a:active {
   background-color: #060;
}

.menu a {
   color: white;
   text-decoration: none;
}

#recentactivity {
   border: 1px solid #ddd;
   width: 60%;
   margin: 1em 0;
   background-color: #eee;
   font-size: 90%;
   padding: .5em;
}

#recentactivity ul {
   margin: 0;
   padding: 0;
}

#recentactivity em {
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
}

#recentactivity li {
   font-weight: bold;
   list-style-type: none;
   margin-top: .5em;
}

#recentactivity li.commit {
   font-weight: normal;
   margin-top: 0;
   list-style-type: circle;
   margin-left: 2em;
}

#recentactivity a {
   text-decoration: none;
}

#recentactivity a:hover {
   text-decoration: underline;
}

/* vim:set sw=3 ts=3 sts=3 et: */
